NODE_ENV=production
NEXT_PUBLIC_APP_URL=https://kutumba.ru
NEXT_PUBLIC_API_URL=https://api.kutumba.ru/api
NEXT_PUBLIC_MEDIA_URL=https://api.kutumba.ru
NEXT_PUBLIC_IMAGE_HOSTS=api.kutumba.ru
NEXT_PUBLIC_IMAGE_PROTOCOL=https
NEXT_PUBLIC_YOOMONEY_CLIENT_ID=
NEXT_YOOMONEY_CLIENT_SECRET=
YOOMONEY_REDIRECT_URI=https://kutumba.ru/api/yoomoney/callback
YOOMONEY_NOTIFICATION_SECRET=
TBANK_TERMINAL_KEY=
TBANK_PASSWORD=
